<div class="modal-header">
	<h3 class="modal-title text-danger"><i class="fa fa-warning"></i> Error</h3>
</div>
<div class="modal-body">
	<p>An error occured while trying to fulfill your request.</p>
	<p><strong>Details</strong><br/> {{ text }}<p>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="tryAgain()"><i class="fa fa-refresh"></i> Try again</button>
	<button class="btn btn-warning" ng-click="home()" ng-if="showHome"><i class="fa fa-home"></i> Home</button>
	<button class="btn btn-info" ng-click="cancel()" ng-if="showCancel">Cancel</button>
</div>
