<div class="container">
	<h1>
		<div class="btn-group pull-right">
			<button
				class="btn btn-sm btn-default"
				title="Toggle delete mode"
				ng-hide="isOfficial"
				ng-class="{'active btn-danger': deleting}"
				ng-click="deleting = !deleting">
				<i class="fa fa-trash"></i>
			</button>
			<button class="btn btn-sm btn-default" title="Refresh"
				ng-click="restate({ reload: true })">
				<i class="fa fa-refresh"></i>
			</button>
		</div>
		Browse
	</h1>
	<div class="row">
		<div class="col-sm-8 col-md-6">
			<form class="form" ng-submit="restate()">
				<label class="sr-only" for="query">Repository name</label>
				<div class="input-group">
					<input type="text" id="query" size="40" placeholder="Search terms"
						class="form-control has-extension" ng-model="query" focus="!query"></input>
					<div class="input-group-btn">
						<input type="reset" class="btn btn-default fa control-extension" value="&#xf00d"
							tabindex="-1" ng-click="query=''; restate()"></input>
						<input type="submit" class="btn btn-primary fa" value="Find &#xf002;"></input>
					</div>
				</div>
			</form>
		</div>
	</div>

	<h1>Repositories</h1>
	<div>
		<table class="table table-condensed" ng-if="registry.error || !repositories.results">
			<thead>
				<tr>
					<th>
						<i class="fa fa-database"></i>
						{{ registry.hostname }}:{{ registry.port }}
					</th>
					<th ng-if="registry.error">
						<button class="btn text-danger" title="Click to toggle error details"
								ng-click="registry.showError = !registry.showError">
							<i class="fa fa-warning"></i>
							<span class="hidden-xs hidden-sm">Unable to explore this registry</span>
						</button>
					</th>
				</tr>
			</thead>
		</table>
		<div class="text-center" ng-if="registry.error">
			<div collapse="!registry.showError">
				<pre class="text-left">{{ registry.error }}</pre>
			</div>
		</div>
		<table class="table table-condensed" ng-if="!registry.error && repositories.results">
			<thead>
				<tr>
					<th colspan="4">
						<i class="fa fa-database"></i> {{ registry.hostname }}:{{ registry.port }}
					</th>
				</tr>
				<tr>
					<th>
						Repository name
					</th>
					<th>
						<i class="fa fa-tag"></i> Tags
					</th>
					<th>
						<i class="fa fa-external-link"></i> URL
					</th>
					<th>
						Layer
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="repository in repositories.results">
					<td>
						<code>
							<context-search keyword="repository.namespace" registry="registry"></context-search>/<context-search keyword="repository.name" registry="registry"></context-search>
						</code>
						<button
							class="btn btn-xs btn-danger"
							title="Delete repository {{ repository.fullName }}"
							ng-if="deleting"
							ng-click="deleteRepository(repository)">
							<strong>&times;</strong>
						</button>
					</td>
					<td>
						<ul class="list-inline">
							<li
								class="label label-default tag"
								ng-repeat="tag in tags[repository.fullName]"
								ng-class="{'label-primary': repository.tag.name == tag.name && !deleting, 'label-danger': deleting}">

								<button
									class="btn btn-xs"
									ng-click="selectTag(repository, tag)">
									{{ tag.name }}
								</button>
								<button
									class="btn btn-xs"
									title="Delete tag {{ repository.fullName }}:{{ tag.name }}"
									ng-if="deleting"
									ng-click="deleteTag(repository, tag)">
									<strong>&times;</strong>
								</button>
							</li>
						</ul>
						<span class="text-muted" ng-if="!repository.tag">&ndash;</span>
					</td>
					<td>
						<code ng-if="repository.tag">{{ repository.tag.url }}</code>
						<span class="text-muted" ng-if="!repository.tag">&ndash;</span>
					</td>
					<td>
						<imageid ng-if="!isOfficial && repository.tag" registry="registry" image="repository.tag.layer" limit="8"></imageid>
						<code ng-if="isOfficial && repository.tag" title="Cannot view layers in the official registry">{{ repository.tag.layer }}</code>
						<span class="text-muted" ng-if="!repository.tag">&ndash;</span>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4">
						<pagination
							items-per-page="repositories.page_size"
							total-items="repositories.num_results"
							rotate="false"
							boundary-links="true"
							max-size="pagerSize"
							ng-model="repositories.page"
							ng-change="restate()"
							previous-text="&lsaquo;"
							next-text="&rsaquo;"
							first-text="&laquo;"
							last-text="&raquo;">
						</pagination>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
